<?xml version="1.0" encoding="utf-8" ?> 
<redirects>
	<urls>
      <!-- Test redirect -->
			<url>
			<!-- 
				Test Redirect to verify installation by creating
				a redirect to a file we know exists. You should
				delete this when you start adding your own redirects.
			 -->
			<old>/login</old>
			<new>/util/login.aspx</new>
		</url>
		
		<!-- Example redirects -->
		<url>
			<!-- 
				This redirects within the same site. Use this when 
				you have an old address that should redirect to a
				address on the new site.
			 -->
			<old>/templates/page.aspx?id=1234</old>
			<new>/travel</new>
		</url>
		<url>
			<!-- 
				This redirects to the old server. Use this method
				to redirect urls to other pages on the old site, or
				to an entirely new website.
			 -->
			<old>/mytemplates/form.aspx?id=3453</old>
			<new>http://www2.mysite.no/templates/page_13241.aspx</new>
		</url>
		<url>
			<!--
				Several out-dated urls can be redirected to the
				same new url.
			-->
			<old>/services/ecp</old>
			<old>/services/eec</old>
			<old>/templates/ecb.aspx?7556</old>
			<new>/outofdate</new>
		</url>
		<!-- The EPiServer Url Shortcuts can also  be
         redirected. -->
		<url>
			<old>/oldshortcuturl</old>
			<new>/newshortcuturl</new>
		</url>
		<url>
			<!-- Test to check that this should not 
				 go into a infinite loop -->
			<old>/demo1/notfoundtest</old>
			<new>/demo1/notfoundtest</new>
		</url>
		<url>
			<!-- You can also use site relative roots 
				 for your destination, as the redirect 
				 is done on the server. The "old" url 
				 can for obvious reasons not be site
				 relative. -->
			<old>/demo1/templates/Page.aspx?id=7411111</old>
			<new>~/search</new>
		</url>
		
    <url>
      <!-- Usually, when a "beginning of string" match is found, the path
           and querystring of the old url is appended to the new one. This
           can be used to redirect all pages below a given path to an old
           server. If you do not want the old url appended, set 
           onWildCardMatchSkipAppend to true.     
           
           In: /our_business/services/consulting.html
           Out /en/services/
       -->
      <old onWildCardMatchSkipAppend="true">/our_business/services</old>
      <new>/en/services/</new>
    </url>
    
    <url>
      <!-- 
      In: /our_clients/theGovernment
      Out: /en/services/our_clients/theGovernment
       -->
      <old onWildCardMatchSkipAppend="false">/our_clients/</old>
      <new>/en/services/</new>
    </url>		
	</urls>
</redirects>


