<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.3.3" targetFramework="net461" />
  <package id="Castle.Windsor" version="3.3.0" targetFramework="net461" />
  <package id="EPiServer.CMS.Core" version="10.4.0" targetFramework="net461" />
  <package id="EPiServer.CMS.UI" version="10.4.0" targetFramework="net461" />
  <package id="EPiServer.CMS.UI.Core" version="10.4.0" targetFramework="net461" />
  <package id="EPiServer.Framework" version="10.4.0" targetFramework="net461" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net461" developmentDependency="true" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net461" developmentDependency="true" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net461" developmentDependency="true" />
  <package id="Microsoft.Net.Compilers" version="2.6.0" targetFramework="net461" developmentDependency="true" />
  <package id="Microsoft.Tpl.Dataflow" version="4.5.24" targetFramework="net461" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net461" />
  <package id="structuremap.web-signed" version="3.1.6.186" targetFramework="net461" />
  <package id="structuremap-signed" version="3.1.9.463" targetFramework="net461" />
</packages>